In [1]:
import requests
import pandas as pd

In [2]:
API_URL = 'https://apis.datos.gob.ar/series/api/series/?ids=149.1_SOR_PRIADO_OCTU_0_25'
response = requests.get(API_URL)
data = response.json()

In [3]:
# We make the transformations. Converting the json to dataframe and then converting the date column to datetime.
df = pd.DataFrame(data["data"], columns=["Date", "Value"])
df["Date"] = pd.to_datetime(df["Date"])
df.dtypes

Date     datetime64[ns]
Value           float64
dtype: object

In [4]:
# Importing neccesary libraries and initiating connection
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

conn_string = "host=data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com port=5439 dbname=data-engineer-database user=leo_carulli_coderhouse password=PT3o7PK1Rh"
conn = psycopg2.connect(conn_string)

In [5]:
# Create the SQLAlchemy engine
engine = create_engine('postgresql+psycopg2://', creator=lambda: conn)

In [6]:
# Create the table if it doesn't exist
create_table_query = """
    CREATE TABLE IF NOT EXISTS TablaDeSalarios (
        fecha DATE DISTKEY,
        indice_de_salarios NUMERIC
    )
    SORTKEY (fecha);
"""
with conn.cursor() as cursor:
    cursor.execute(create_table_query)
    conn.commit()

In [7]:
# Convert the DataFrame to a temporary table
df.to_sql('temp_table', engine, index=False, if_exists='replace')

In [8]:
# Execute the TRUNCATE statement. This will delete all prior information present on the database
with conn.cursor() as cursor:
    query = "TRUNCATE TABLE TablaDeSalarios;"
    cursor.execute(query)
    conn.commit()
    print("All rows deleted successfully.")

All rows deleted successfully.

In [9]:
# Execute an SQL query to insert data into the target table
with conn.cursor() as cursor:
    query = "INSERT INTO TablaDeSalarios (fecha, indice_de_salarios) SELECT Date, Value FROM temp_table;"
    cursor.execute(query)
    conn.commit()

In [10]:
# Execute the query to check results
with conn.cursor() as cursor:
    query = "SELECT * FROM TablaDeSalarios ORDER BY fecha DESC;"
    cursor.execute(query)
    result = cursor.fetchall()
    # Process the query result as needed
    for row in result:
        print(row)

(datetime.date(2023, 3, 1), 1202.1)
(datetime.date(2023, 2, 1), 1114.3)
(datetime.date(2023, 1, 1), 1042.4)
(datetime.date(2022, 12, 1), 996.6)
(datetime.date(2022, 11, 1), 953.34)
(datetime.date(2022, 10, 1), 888.1)
(datetime.date(2022, 9, 1), 843.4)
(datetime.date(2022, 8, 1), 797.04)
(datetime.date(2022, 7, 1), 737.01)
(datetime.date(2022, 6, 1), 699.36)
(datetime.date(2022, 5, 1), 665.7)
(datetime.date(2022, 4, 1), 622.3)
(datetime.date(2022, 3, 1), 589.2)
(datetime.date(2022, 2, 1), 559.0)
(datetime.date(2022, 1, 1), 538.2)
(datetime.date(2021, 12, 1), 514.3)
(datetime.date(2021, 11, 1), 507.0)
(datetime.date(2021, 10, 1), 485.29)
(datetime.date(2021, 9, 1), 467.91)
(datetime.date(2021, 8, 1), 451.64)
(datetime.date(2021, 7, 1), 437.0)
(datetime.date(2021, 6, 1), 415.6)
(datetime.date(2021, 5, 1), 408.4)
(datetime.date(2021, 4, 1), 394.54)
(datetime.date(2021, 3, 1), 376.68)
(datetime.date(2021, 2, 1), 362.33)
(datetime.date(2021, 1, 1), 344.61)
(datetime.date(2020, 12, 1), 331.26)
(datetime.date(2020, 11, 1), 326.04)
(datetime.date(2020, 10, 1), 317.66)
(datetime.date(2020, 9, 1), 301.54)
(datetime.date(2020, 8, 1), 295.13)
(datetime.date(2020, 7, 1), 289.19)
(datetime.date(2020, 6, 1), 285.44)
(datetime.date(2020, 5, 1), 285.06)
(datetime.date(2020, 4, 1), 285.74)
(datetime.date(2020, 3, 1), 286.4)
(datetime.date(2020, 2, 1), 279.97)
(datetime.date(2020, 1, 1), 267.6)
(datetime.date(2019, 12, 1), 246.54)
(datetime.date(2019, 11, 1), 242.85)
(datetime.date(2019, 10, 1), 236.31)
(datetime.date(2019, 9, 1), 227.72)
(datetime.date(2019, 8, 1), 221.87)
(datetime.date(2019, 7, 1), 215.86)
(datetime.date(2019, 6, 1), 206.99)
(datetime.date(2019, 5, 1), 201.66)
(datetime.date(2019, 4, 1), 193.47)
(datetime.date(2019, 3, 1), 188.26)
(datetime.date(2019, 2, 1), 181.76)
(datetime.date(2019, 1, 1), 176.91)
(datetime.date(2018, 12, 1), 170.85)
(datetime.date(2018, 11, 1), 168.06)
(datetime.date(2018, 10, 1), 163.86)
(datetime.date(2018, 9, 1), 157.82)
(datetime.date(2018, 8, 1), 154.2)
(datetime.date(2018, 7, 1), 149.94)
(datetime.date(2018, 6, 1), 146.47)
(datetime.date(2018, 5, 1), 144.47)
(datetime.date(2018, 4, 1), 141.01)
(datetime.date(2018, 3, 1), 136.23)
(datetime.date(2018, 2, 1), 134.31)
(datetime.date(2018, 1, 1), 133.25)
(datetime.date(2017, 12, 1), 131.01)
(datetime.date(2017, 11, 1), 130.04)
(datetime.date(2017, 10, 1), 128.23)
(datetime.date(2017, 9, 1), 126.0)
(datetime.date(2017, 8, 1), 124.55)
(datetime.date(2017, 7, 1), 122.8)
(datetime.date(2017, 6, 1), 117.23)
(datetime.date(2017, 5, 1), 115.18)
(datetime.date(2017, 4, 1), 112.93)
(datetime.date(2017, 3, 1), 109.26)
(datetime.date(2017, 2, 1), 107.69)
(datetime.date(2017, 1, 1), 106.34)
(datetime.date(2016, 12, 1), 102.89)
(datetime.date(2016, 11, 1), 101.8)
(datetime.date(2016, 10, 1), 100.0)
(datetime.date(2016, 9, 1), 96.63)
(datetime.date(2016, 8, 1), 95.05)
(datetime.date(2016, 7, 1), 93.35)
(datetime.date(2016, 6, 1), 90.15)
(datetime.date(2016, 5, 1), 88.74)
(datetime.date(2016, 4, 1), 85.92)
(datetime.date(2016, 3, 1), 80.8)
(datetime.date(2016, 2, 1), 80.04)
(datetime.date(2016, 1, 1), 78.93)
(datetime.date(2015, 12, 1), 77.36)
(datetime.date(2015, 11, 1), 75.95)
(datetime.date(2015, 10, 1), 73.97)

In [ ]:
# Close the connection
conn.close()