In [25]:
import requests
import pandas as pd

In [26]:
API_URL = 'https://apis.datos.gob.ar/series/api/series?ids=151.1_AARIADOTAC_2012_M_25,151.1_AARIADOTAC_2012_M_26,151.1_IPENDIETAC_2012_M_34,151.1_IPENDIETAC_2012_M_43,151.1_TL_SIN_TAC_2012_M_15'
response = requests.get(API_URL)
data = response.json()

In [27]:
# Convertir el JSON a un DataFrame
df = pd.DataFrame(data['data'])

In [28]:
# Asignamos nuevos nombres a las columnas
df.columns = ["Fecha", 
              "SectorPublico", 
              "SectorPrivado", 
              "IndependientesAutonomos",
              "IndependientesMonotributo",
              "TotalTrabajadores"]

In [29]:
# Creando columna "RestoDeSectores"
df['RestoDeSectores'] = df['TotalTrabajadores'] - df['SectorPublico'] - df['SectorPrivado'] - df['IndependientesAutonomos'] - df['IndependientesMonotributo']
# Convirtiendo la columna "Fecha" a formato Fecha
df["Fecha"] = pd.to_datetime(df["Fecha"])

In [30]:
df.dtypes

Fecha                        datetime64[ns]
SectorPublico                       float64
SectorPrivado                       float64
IndependientesAutonomos             float64
IndependientesMonotributo           float64
TotalTrabajadores                   float64
RestoDeSectores                     float64
dtype: object

In [31]:
df

,Fecha,SectorPublico,SectorPrivado,IndependientesAutonomos,IndependientesMonotributo,TotalTrabajadores,RestoDeSectores
0,2012-01-01,2548.566,6067.902,408.340,167.762,10896.612,1704.042
1,2012-02-01,2607.289,6061.695,408.285,168.913,10950.353,1704.171
2,2012-03-01,2620.076,6072.139,407.632,170.047,10974.797,1704.903
3,2012-04-01,2623.691,6056.708,408.079,172.512,10970.445,1709.455
4,2012-05-01,2596.482,6065.601,408.331,172.926,10958.421,1715.081
...,...,...,...,...,...,...,...
95,2019-12-01,3211.976,6004.908,404.256,365.604,12112.076,2125.332
96,2020-01-01,3208.978,5988.152,402.338,366.082,12095.956,2130.406
97,2020-02-01,3210.726,5990.463,398.154,365.381,12092.024,2127.300
98,2020-03-01,3218.267,5945.303,392.416,362.447,12023.385,2104.952
99,2020-04-01,3206.050,5836.778,384.630,355.492,11859.617,2076.667

In [32]:
# Importing neccesary libraries and initiating connection
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

conn_string = "host=data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com port=5439 dbname=data-engineer-database user=leo_carulli_coderhouse password=PT3o7PK1Rh"
conn = psycopg2.connect(conn_string)

In [33]:
# Create the SQLAlchemy engine
engine = create_engine('postgresql+psycopg2://', creator=lambda: conn)

In [34]:
# Create the table if it doesn't exist
create_table_query = """
    CREATE TABLE IF NOT EXISTS Salarios (
        Fecha DATE DISTKEY,
        SectorPublico NUMERIC,
        SectorPrivado NUMERIC,
        IndependientesAutonomos NUMERIC,
        IndependientesMonotributo NUMERIC,
        TotalTrabajadores NUMERIC,
        RestoDeSectores NUMERIC
    )
    SORTKEY (Fecha);
"""
with conn.cursor() as cursor:
    cursor.execute(create_table_query)
    conn.commit()

In [35]:
# Convert the DataFrame to a temporary table
df.to_sql('temp_table', engine, index=False, if_exists='replace')

In [36]:
# Execute an SQL query to insert data into the target table
with conn.cursor() as cursor:
    query = "INSERT INTO Salarios (Fecha, SectorPublico, SectorPrivado, IndependientesAutonomos, IndependientesMonotributo, TotalTrabajadores, RestoDeSectores) SELECT * FROM temp_table;"
    cursor.execute(query)
    conn.commit()

In [37]:
# Execute the query to check results
with conn.cursor() as cursor:
    query = "SELECT * FROM Salarios ORDER BY fecha DESC;"
    cursor.execute(query)
    result = cursor.fetchall()
    # Process the query result as needed
    for row in result:
        print(row)

(datetime.date(2020, 4, 1), Decimal('3206'), Decimal('5837'), Decimal('385'), Decimal('355'), Decimal('11860'), Decimal('2077'))
(datetime.date(2020, 3, 1), Decimal('3218'), Decimal('5945'), Decimal('392'), Decimal('362'), Decimal('12023'), Decimal('2105'))
(datetime.date(2020, 2, 1), Decimal('3211'), Decimal('5990'), Decimal('398'), Decimal('365'), Decimal('12092'), Decimal('2127'))
(datetime.date(2020, 1, 1), Decimal('3209'), Decimal('5988'), Decimal('402'), Decimal('366'), Decimal('12096'), Decimal('2130'))
(datetime.date(2019, 12, 1), Decimal('3212'), Decimal('6005'), Decimal('404'), Decimal('366'), Decimal('12112'), Decimal('2125'))
(datetime.date(2019, 11, 1), Decimal('3204'), Decimal('6024'), Decimal('404'), Decimal('365'), Decimal('12119'), Decimal('2121'))
(datetime.date(2019, 10, 1), Decimal('3207'), Decimal('6044'), Decimal('399'), Decimal('355'), Decimal('12135'), Decimal('2130'))
(datetime.date(2019, 9, 1), Decimal('3201'), Decimal('6067'), Decimal('400'), Decimal('359'), Decimal('12149'), Decimal('2122'))
(datetime.date(2019, 8, 1), Decimal('3188'), Decimal('6096'), Decimal('400'), Decimal('365'), Decimal('12154'), Decimal('2104'))
(datetime.date(2019, 7, 1), Decimal('3190'), Decimal('6106'), Decimal('397'), Decimal('351'), Decimal('12138'), Decimal('2094'))
(datetime.date(2019, 6, 1), Decimal('3187'), Decimal('6112'), Decimal('398'), Decimal('357'), Decimal('12133'), Decimal('2080'))
(datetime.date(2019, 5, 1), Decimal('3185'), Decimal('6119'), Decimal('399'), Decimal('355'), Decimal('12140'), Decimal('2082'))
(datetime.date(2019, 4, 1), Decimal('3181'), Decimal('6125'), Decimal('399'), Decimal('358'), Decimal('12138'), Decimal('2074'))
(datetime.date(2019, 3, 1), Decimal('3170'), Decimal('6132'), Decimal('400'), Decimal('358'), Decimal('12131'), Decimal('2071'))
(datetime.date(2019, 2, 1), Decimal('3170'), Decimal('6151'), Decimal('400'), Decimal('345'), Decimal('12155'), Decimal('2090'))
(datetime.date(2019, 1, 1), Decimal('3167'), Decimal('6146'), Decimal('401'), Decimal('352'), Decimal('12141'), Decimal('2074'))
(datetime.date(2018, 12, 1), Decimal('3158'), Decimal('6154'), Decimal('399'), Decimal('361'), Decimal('12130'), Decimal('2058'))
(datetime.date(2018, 11, 1), Decimal('3159'), Decimal('6170'), Decimal('399'), Decimal('354'), Decimal('12145'), Decimal('2064'))
(datetime.date(2018, 10, 1), Decimal('3162'), Decimal('6196'), Decimal('400'), Decimal('349'), Decimal('12174'), Decimal('2068'))
(datetime.date(2018, 9, 1), Decimal('3158'), Decimal('6210'), Decimal('400'), Decimal('346'), Decimal('12221'), Decimal('2107'))
(datetime.date(2018, 8, 1), Decimal('3166'), Decimal('6236'), Decimal('400'), Decimal('347'), Decimal('12248'), Decimal('2099'))
(datetime.date(2018, 7, 1), Decimal('3159'), Decimal('6244'), Decimal('403'), Decimal('344'), Decimal('12242'), Decimal('2093'))
(datetime.date(2018, 6, 1), Decimal('3158'), Decimal('6253'), Decimal('404'), Decimal('405'), Decimal('12311'), Decimal('2091'))
(datetime.date(2018, 5, 1), Decimal('3159'), Decimal('6275'), Decimal('403'), Decimal('414'), Decimal('12334'), Decimal('2082'))
(datetime.date(2018, 4, 1), Decimal('3162'), Decimal('6281'), Decimal('404'), Decimal('417'), Decimal('12341'), Decimal('2077'))
(datetime.date(2018, 3, 1), Decimal('3163'), Decimal('6278'), Decimal('403'), Decimal('423'), Decimal('12342'), Decimal('2075'))
(datetime.date(2018, 2, 1), Decimal('3160'), Decimal('6271'), Decimal('403'), Decimal('423'), Decimal('12331'), Decimal('2074'))
(datetime.date(2018, 1, 1), Decimal('3178'), Decimal('6275'), Decimal('403'), Decimal('419'), Decimal('12348'), Decimal('2073'))
(datetime.date(2017, 12, 1), Decimal('3165'), Decimal('6282'), Decimal('403'), Decimal('419'), Decimal('12338'), Decimal('2069'))
(datetime.date(2017, 11, 1), Decimal('3160'), Decimal('6270'), Decimal('402'), Decimal('413'), Decimal('12318'), Decimal('2072'))
(datetime.date(2017, 10, 1), Decimal('3156'), Decimal('6258'), Decimal('402'), Decimal('409'), Decimal('12296'), Decimal('2071'))
(datetime.date(2017, 9, 1), Decimal('3159'), Decimal('6246'), Decimal('399'), Decimal('410'), Decimal('12265'), Decimal('2052'))
(datetime.date(2017, 8, 1), Decimal('3150'), Decimal('6236'), Decimal('399'), Decimal('400'), Decimal('12223'), Decimal('2038'))
(datetime.date(2017, 7, 1), Decimal('3149'), Decimal('6235'), Decimal('400'), Decimal('400'), Decimal('12202'), Decimal('2018'))
(datetime.date(2017, 6, 1), Decimal('3143'), Decimal('6227'), Decimal('400'), Decimal('394'), Decimal('12170'), Decimal('2006'))
(datetime.date(2017, 5, 1), Decimal('3140'), Decimal('6212'), Decimal('401'), Decimal('388'), Decimal('12140'), Decimal('1999'))
(datetime.date(2017, 4, 1), Decimal('3130'), Decimal('6198'), Decimal('400'), Decimal('388'), Decimal('12099'), Decimal('1983'))
(datetime.date(2017, 3, 1), Decimal('3125'), Decimal('6201'), Decimal('403'), Decimal('388'), Decimal('12099'), Decimal('1981'))
(datetime.date(2017, 2, 1), Decimal('3123'), Decimal('6190'), Decimal('405'), Decimal('380'), Decimal('12083'), Decimal('1984'))
(datetime.date(2017, 1, 1), Decimal('3123'), Decimal('6193'), Decimal('408'), Decimal('381'), Decimal('12072'), Decimal('1968'))
(datetime.date(2016, 12, 1), Decimal('3121'), Decimal('6187'), Decimal('411'), Decimal('382'), Decimal('12052'), Decimal('1950'))
(datetime.date(2016, 11, 1), Decimal('3118'), Decimal('6185'), Decimal('413'), Decimal('382'), Decimal('12047'), Decimal('1949'))
(datetime.date(2016, 10, 1), Decimal('3113'), Decimal('6180'), Decimal('414'), Decimal('376'), Decimal('12030'), Decimal('1946'))
(datetime.date(2016, 9, 1), Decimal('3116'), Decimal('6173'), Decimal('415'), Decimal('368'), Decimal('12012'), Decimal('1940'))
(datetime.date(2016, 8, 1), Decimal('3115'), Decimal('6170'), Decimal('416'), Decimal('363'), Decimal('11998'), Decimal('1933'))
(datetime.date(2016, 7, 1), Decimal('3114'), Decimal('6169'), Decimal('417'), Decimal('361'), Decimal('11990'), Decimal('1929'))
(datetime.date(2016, 6, 1), Decimal('3110'), Decimal('6171'), Decimal('420'), Decimal('359'), Decimal('11986'), Decimal('1927'))
(datetime.date(2016, 5, 1), Decimal('3102'), Decimal('6179'), Decimal('417'), Decimal('358'), Decimal('11965'), Decimal('1908'))
(datetime.date(2016, 4, 1), Decimal('3102'), Decimal('6188'), Decimal('410'), Decimal('358'), Decimal('11956'), Decimal('1899'))
(datetime.date(2016, 3, 1), Decimal('3101'), Decimal('6199'), Decimal('409'), Decimal('357'), Decimal('11956'), Decimal('1890'))
(datetime.date(2016, 2, 1), Decimal('3089'), Decimal('6206'), Decimal('408'), Decimal('356'), Decimal('11943'), Decimal('1885'))
(datetime.date(2016, 1, 1), Decimal('3081'), Decimal('6209'), Decimal('407'), Decimal('355'), Decimal('11940'), Decimal('1889'))
(datetime.date(2015, 12, 1), Decimal('3090'), Decimal('6223'), Decimal('407'), Decimal('353'), Decimal('11965'), Decimal('1892'))
(datetime.date(2015, 11, 1), Decimal('3093'), Decimal('6254'), Decimal('408'), Decimal('355'), Decimal('12008'), Decimal('1899'))
(datetime.date(2015, 10, 1), Decimal('3084'), Decimal('6264'), Decimal('409'), Decimal('355'), Decimal('12012'), Decimal('1899'))
(datetime.date(2015, 9, 1), Decimal('3069'), Decimal('6261'), Decimal('410'), Decimal('356'), Decimal('11997'), Decimal('1901'))
(datetime.date(2015, 8, 1), Decimal('3067'), Decimal('6267'), Decimal('410'), Decimal('355'), Decimal('11997'), Decimal('1898'))
(datetime.date(2015, 7, 1), Decimal('3057'), Decimal('6253'), Decimal('411'), Decimal('355'), Decimal('11973'), Decimal('1896'))
(datetime.date(2015, 6, 1), Decimal('3016'), Decimal('6247'), Decimal('412'), Decimal('354'), Decimal('11923'), Decimal('1894'))
(datetime.date(2015, 5, 1), Decimal('3003'), Decimal('6228'), Decimal('412'), Decimal('351'), Decimal('11875'), Decimal('1881'))
(datetime.date(2015, 4, 1), Decimal('2988'), Decimal('6225'), Decimal('412'), Decimal('349'), Decimal('11850'), Decimal('1875'))
(datetime.date(2015, 3, 1), Decimal('2974'), Decimal('6187'), Decimal('411'), Decimal('348'), Decimal('11795'), Decimal('1875'))
(datetime.date(2015, 2, 1), Decimal('2966'), Decimal('6178'), Decimal('412'), Decimal('347'), Decimal('11773'), Decimal('1870'))
(datetime.date(2015, 1, 1), Decimal('2955'), Decimal('6164'), Decimal('407'), Decimal('342'), Decimal('11748'), Decimal('1880'))
(datetime.date(2014, 12, 1), Decimal('2944'), Decimal('6143'), Decimal('407'), Decimal('338'), Decimal('11733'), Decimal('1902'))
(datetime.date(2014, 11, 1), Decimal('2944'), Decimal('6135'), Decimal('407'), Decimal('334'), Decimal('11754'), Decimal('1934'))
(datetime.date(2014, 10, 1), Decimal('2930'), Decimal('6128'), Decimal('408'), Decimal('329'), Decimal('11741'), Decimal('1945'))
(datetime.date(2014, 9, 1), Decimal('2926'), Decimal('6120'), Decimal('411'), Decimal('322'), Decimal('11723'), Decimal('1945'))
(datetime.date(2014, 8, 1), Decimal('2908'), Decimal('6110'), Decimal('413'), Decimal('316'), Decimal('11688'), Decimal('1941'))
(datetime.date(2014, 7, 1), Decimal('2903'), Decimal('6112'), Decimal('416'), Decimal('314'), Decimal('11685'), Decimal('1941'))
(datetime.date(2014, 6, 1), Decimal('2893'), Decimal('6110'), Decimal('417'), Decimal('310'), Decimal('11669'), Decimal('1939'))
(datetime.date(2014, 5, 1), Decimal('2883'), Decimal('6104'), Decimal('421'), Decimal('307'), Decimal('11645'), Decimal('1930'))
(datetime.date(2014, 4, 1), Decimal('2874'), Decimal('6096'), Decimal('424'), Decimal('304'), Decimal('11619'), Decimal('1921'))
(datetime.date(2014, 3, 1), Decimal('2813'), Decimal('6090'), Decimal('424'), Decimal('301'), Decimal('11544'), Decimal('1918'))
(datetime.date(2014, 2, 1), Decimal('2863'), Decimal('6110'), Decimal('421'), Decimal('297'), Decimal('11610'), Decimal('1920'))
(datetime.date(2014, 1, 1), Decimal('2855'), Decimal('6116'), Decimal('424'), Decimal('294'), Decimal('11606'), Decimal('1917'))
(datetime.date(2013, 12, 1), Decimal('2857'), Decimal('6124'), Decimal('424'), Decimal('293'), Decimal('11611'), Decimal('1913'))
(datetime.date(2013, 11, 1), Decimal('2839'), Decimal('6127'), Decimal('426'), Decimal('290'), Decimal('11593'), Decimal('1911'))
(datetime.date(2013, 10, 1), Decimal('2838'), Decimal('6117'), Decimal('429'), Decimal('285'), Decimal('11570'), Decimal('1901'))
(datetime.date(2013, 9, 1), Decimal('2821'), Decimal('6115'), Decimal('429'), Decimal('274'), Decimal('11521'), Decimal('1881'))
(datetime.date(2013, 8, 1), Decimal('2814'), Decimal('6125'), Decimal('428'), Decimal('242'), Decimal('11473'), Decimal('1865'))
(datetime.date(2013, 7, 1), Decimal('2811'), Decimal('6110'), Decimal('426'), Decimal('204'), Decimal('11403'), Decimal('1852'))
(datetime.date(2013, 6, 1), Decimal('2798'), Decimal('6103'), Decimal('424'), Decimal('196'), Decimal('11358'), Decimal('1836'))
(datetime.date(2013, 5, 1), Decimal('2810'), Decimal('6109'), Decimal('424'), Decimal('194'), Decimal('11349'), Decimal('1812'))
(datetime.date(2013, 4, 1), Decimal('2744'), Decimal('6116'), Decimal('424'), Decimal('192'), Decimal('11271'), Decimal('1794'))
(datetime.date(2013, 3, 1), Decimal('2723'), Decimal('6105'), Decimal('422'), Decimal('190'), Decimal('11227'), Decimal('1786'))
(datetime.date(2013, 2, 1), Decimal('2718'), Decimal('6098'), Decimal('420'), Decimal('189'), Decimal('11206'), Decimal('1781'))
(datetime.date(2013, 1, 1), Decimal('2713'), Decimal('6090'), Decimal('411'), Decimal('187'), Decimal('11180'), Decimal('1778'))
(datetime.date(2012, 12, 1), Decimal('2662'), Decimal('6091'), Decimal('410'), Decimal('187'), Decimal('11118'), Decimal('1768'))
(datetime.date(2012, 11, 1), Decimal('2658'), Decimal('6069'), Decimal('409'), Decimal('185'), Decimal('11087'), Decimal('1767'))
(datetime.date(2012, 10, 1), Decimal('2643'), Decimal('6063'), Decimal('408'), Decimal('183'), Decimal('11058'), Decimal('1760'))
(datetime.date(2012, 9, 1), Decimal('2634'), Decimal('6058'), Decimal('408'), Decimal('182'), Decimal('11033'), Decimal('1751'))
(datetime.date(2012, 8, 1), Decimal('2638'), Decimal('6060'), Decimal('408'), Decimal('180'), Decimal('11030'), Decimal('1744'))
(datetime.date(2012, 7, 1), Decimal('2629'), Decimal('6063'), Decimal('408'), Decimal('178'), Decimal('11016'), Decimal('1738'))
(datetime.date(2012, 6, 1), Decimal('2632'), Decimal('6065'), Decimal('408'), Decimal('175'), Decimal('11007'), Decimal('1727'))
(datetime.date(2012, 5, 1), Decimal('2596'), Decimal('6066'), Decimal('408'), Decimal('173'), Decimal('10958'), Decimal('1715'))
(datetime.date(2012, 4, 1), Decimal('2624'), Decimal('6057'), Decimal('408'), Decimal('173'), Decimal('10970'), Decimal('1709'))
(datetime.date(2012, 3, 1), Decimal('2620'), Decimal('6072'), Decimal('408'), Decimal('170'), Decimal('10975'), Decimal('1705'))
(datetime.date(2012, 2, 1), Decimal('2607'), Decimal('6062'), Decimal('408'), Decimal('169'), Decimal('10950'), Decimal('1704'))
(datetime.date(2012, 1, 1), Decimal('2549'), Decimal('6068'), Decimal('408'), Decimal('168'), Decimal('10897'), Decimal('1704'))

In [ ]:
# Close the connection
conn.close()