In [7]:
import requests
import pandas as pd

In [8]:
API_URL = 'https://apis.datos.gob.ar/series/api/series/?ids=149.1_SOR_PRIADO_OCTU_0_25'
response = requests.get(API_URL)
data = response.json()

In [9]:
df = pd.DataFrame(data["data"], columns=["Date", "Value"])

In [10]:
df

          Date    Value
0   2015-10-01    73.97
1   2015-11-01    75.95
2   2015-12-01    77.36
3   2016-01-01    78.93
4   2016-02-01    80.04
..         ...      ...
85  2022-11-01   953.34
86  2022-12-01   996.60
87  2023-01-01  1042.40
88  2023-02-01  1114.30
89  2023-03-01  1202.10

[90 rows x 2 columns]